<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/bootstrap.min.css"></head>
<body>
<%- include('navbar') %>
<main>
    <div class="row">
        <div class="col-4">
            <h1>Profile</h1>
        </div>
        <div class="col-8">
            <%if(visitor.userName === user.userName && !locals.error){%>
                <button class="btn btn-primary" id="profile-pic-edit" onclick="window.location.href='/profile-picture'">Edit Profile Picture</button>
            <%}%>
        </div>
    </div>

    <%if(locals.error){%>
        <div class="error">
            <%=error%>
        </div>
    <%} else{%>
        <div class="error">
        </div>
        <div class="row">
            <div class="col-4">
                <div class="profile">
                    <div class="profile-info">
                        <h2><%= user.userName %></h2>
                    </div>
                    <div class="profile-picture">
                        <img src="/assets/profile-pics/<%= selected %>.jpg" class="profile-pic" alt="Profile Picture">
                    </div>
                </div>
                <h2>
                    In rooms:
                </h2>
                <%if(locals.rooms){%>
                    <div class="rooms">
                        <%for(let i = 0; i < rooms.length; i++){%>
                            <%if(rooms[i].name){%>
                                <div class="room">
                                    <h3><%= rooms[i].name %></h3>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                <%}%>
            </div>
            <div class="col-8">
                <textarea  name="message" id="wallInput" placeholder="Leave a message on <%= user.userName %>'s wall"></textarea>
                <%if(locals.messages){%>
                    <div class="messages">
                        <%for(let i = 0; i < messages.length; i++){%>
                            <div class="message">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="/assets/profile-pics/<%= messages[i].author.image%>.jpg" class="wall-profile-pic" alt="Profile Picture">
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-6">
                                                <h3><%= messages[i].author.userName %></h3>
                                            </div>
                                            <div class="message-date">
                                                <h4><%= messages[i].date.toLocaleTimeString() + ' ' + messages[i].date.toLocaleDateString() %></h4>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            <p><%= messages[i].message %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                <%}%>
            </div>
        </div>
    <%}%>
</main>
<script src="/script/jquery-3.7.0.min.js"> </script>
<script src="/script/bootstrap.bundle.min.js"> </script>
<script>
    document.getElementById('wallInput').addEventListener('keydown', (event) => {
        if((event.code === 'Enter' || event.code === 'NumpadEnter') && !event.shiftKey){
            sendMessage();
        }
    });
    function sendMessage(){
        let message = $('#wallInput').val();
        if(message !== ''){
            $.ajax({
                url: '/profile/<%= user.userName %>/wall',
                type: 'POST',
                data: {
                    message: message
                },
                success: function(data){
                    if(data.status == 200){
                        $('.error').html('');
                        $('#wallInput').val('');
                        window.location.reload();
                    }
                    else{
                        $('.error').html(data.message);
                        $('#wallInput').val('');
                    }
                },
                error: function(){
                }
            })
        }
    }
</script>
</body>
</html>
